@use "../utils/" as u;

main {
  min-height: 90.4vh;
}

.stats {
  display: grid;
  gap: u.rem(24);
  margin-inline: u.rem(24);
  //margin top prvog elementa plus polovina njega samog
  margin-block-start: u.rem(-42);

  @include u.breakpoint(large) {
    max-width: u.rem(800);
    margin-inline: auto;
  }

  @include u.breakpoint(xlarge) {
    max-width: none;
    grid-template-columns: repeat(4, 1fr);
    margin-inline: u.rem(165);
    //marign top broja plus polovina njega
    margin-block-start: u.rem(-116);
    gap: u.rem(30);
  }

  #facebook {
    border-color: var(--facebook);
    padding: u.rem(32) u.rem(99) u.rem(24);

    @include u.breakpoint(xlarge) {
      padding: u.rem(32) u.rem(64) u.rem(24);
    }
  }

  #twitter {
    border-color: var(--twitter);
    padding: u.rem(34) u.rem(95) u.rem(24);

    @include u.breakpoint(xlarge) {
      padding: u.rem(34) u.rem(60) u.rem(24);
    }
  }

  #instagram {
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    border-width: 4px;
    border-style: solid;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    padding: u.rem(32) u.rem(104) u.rem(24);

    @include u.breakpoint(xlarge) {
      padding: u.rem(32) u.rem(68) u.rem(24);
    }
  }
  #youtube {
    border-color: var(--youtube);
    padding: u.rem(32) u.rem(94) u.rem(24);

    @include u.breakpoint(xlarge) {
      padding: u.rem(32) u.rem(58) u.rem(24);
    }
  }

  &__card {
    border-radius: u.rem(5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-block-start: 4px solid;

    &__image-and-handle {
      display: flex;
      gap: u.rem(8);
    }

    &__handle {
      font-weight: 700;
      font-size: u.rem(12);
      line-height: u.rem(15);
    }

    &__text {
      font-weight: 400;
      font-size: u.rem(12);
      line-height: u.rem(15);
      text-align: center;
      letter-spacing: u.rem(5);
      text-transform: uppercase;
      margin-block-start: u.rem(28);

      span {
        font-weight: 700;
        display: block;
        font-size: u.rem(56);
        line-height: u.rem(48);
        text-align: center;
        letter-spacing: u.rem(-2);
        margin-block-end: u.rem(9);
      }
    }

    &__trend {
      font-weight: 700;
      font-size: u.rem(12);
      line-height: u.rem(15);
      color: var(--green);
      position: relative;
      margin-block-start: u.rem(25);

      &::before {
        content: url(../images/icon-up.svg);
        position: absolute;
        left: -12px;
        bottom: 2px;
      }

      &--down {
        color: var(--red);

        &::before {
          content: url(../images/icon-down.svg);
          position: absolute;
          left: -12px;
          bottom: 2px;
        }
      }
    }
  }
}

.dark {
  .stats {
    &__card {
      background: var(--yankees-blue);

      &:hover {
        cursor: pointer;
        background: var(--charcoal);
      }

      &__handle {
        color: var(--ceil);
      }

      &__text {
        color: var(--ceil);

        span {
          color: var(--white);
        }
      }
    }
  }
}

.light {
  .stats {
    &__card {
      background: var(--anti-flash-white);

      &:hover {
        cursor: pointer;
        background: var(--azureish-white);
      }

      &__handle {
        color: var(--dark-electric-blue);
      }

      &__text {
        color: var(--dark-electric-blue);
        span {
          color: var(--dark-gunmetal);
        }
      }
    }
  }
}
