:root {
  --dark-gunmetal: #1d1f29;
  --ceil: #8c98c6;
  --white: #ffffff;
  --green: #1eb589;
  --red: #dc414c;
  --yankees-blue: #252b42;
  --dark-electric-blue: #63687d;
  --charcoal: #333a55;
  --youtube: #c4032b;
  --facebook: #178ff5;
  --twitter: #1da1f2;
}
